<div class="boardgames-container">
    <div class="filters">
        <input type="text">
        <p>Filtros serão colocados aqui</p>
        <button type="submit">Filtrar</button>
    </div>

    <div class="games" *ngIf = "$boardgames | async as boardgames">
        <div class="game-card" *ngFor = "let boardgame of boardgames">
            <a class="game-card-content" [routerLink]="['/boardgame', boardgame.id]">
                <img class="cover" src="{{boardgame.cover}}" alt="cover">
                <span>{{ boardgame.title }}</span>
                <span>{{ getPlayersCount(boardgame) }}</span>
                <span>A partir de {{ boardgame.age_range }} anos.</span>
            </a>
        </div>
    </div>
</div>