<div class="boardgames-container">
    <div class="filters">
        <p>Filtros</p>
        <form class="options" (ngSubmit)="submit()" [formGroup]="filterForm">
            <label for="">Título:</label>
            <input type="text" formControlName="game_name" placeholder="Jogo">
            <label for="">Mínimo de jogadores:</label>
            <input type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" formControlName="min_players" placeholder="Mínimo de Jogadores">
            <label for="">Máximo de jogadores</label>
            <input type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" formControlName="max_players" placeholder="Máximo de Jogadores">
            <label for="">Faixa Etária: A partir de</label>
            <input type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" formControlName="age_range" placeholder="Quantos anos?">
            <button class="btn-blue" type="submit">Filtrar</button>
            <button class="btn-green" type="submit" (click)="clearFilters()">Limpar Filtros</button>
        </form>
    </div>
    <ng-container *ngIf = "$boardgames | async as boardgames">
        <div class="games" *ngIf="boardgames.length > 0; else noResults">
            <div class="game-card" *ngFor = "let boardgame of boardgames">
                <a class="game-card-content" [routerLink]="['/boardgames', boardgame.id]">
                    <img class="cover" src="{{boardgame.cover}}" alt="cover">
                    <span>{{ boardgame.title }}</span>
                    <span>{{ getPlayersCount(boardgame) }}</span>
                    <span>A partir de {{ boardgame.age_range }} anos.</span>
                </a>
            </div>
        </div>
    </ng-container>
</div>
<app-pagination 
    [currentPage]="pagination.currentPage"
    [lastPage]="pagination.lastPage"
    [total]="pagination.total"
    (pageChange)="loadPage($event)">
</app-pagination>


<ng-template #noResults>
    <div class="none" *ngIf="hasActiveFilters(); else emptyTrades">
        <h3>Nenhum jogo encontrado</h3>
        <p>Não existem jogos que correspondam aos filtros informados.</p>
    </div>
</ng-template>
<ng-template #emptyTrades>
    <h3>Nenhum anúncio disponível</h3>
    <p>Ainda não existem anúncios cadastrados.</p>
</ng-template>