.security-form {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 50%;
  place-self: center;
}

.security-form button {
  place-self: center;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.delete-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.autocomplete {
  position: relative;
}

.formInput {
  width: 100%;
}

.formInput input {
  width: 100%;
}