<div class="security-form">
    <form
        (ngSubmit)="submit()"
        [formGroup]="passwordForm"
        class="password-form">
        <h2>Alterar Senha</h2>
        <input 
            type="text"
            placeholder="Senha Atual" 
            formControlName="currentPassword">
        <input 
            type="text"
            placeholder="Senha Nova" 
            formControlName="newPassword">
        <input 
            type="text"
            placeholder="Confirmar Senha Nova" 
            formControlName="confirmNewPassword">
        <button class="send-btn" type="submit">Enviar</button>
    </form>
</div>

<div class="security-form">
        <form
            (ngSubmit)="deleteAccount()"
            [formGroup]="deleteForm"
            class="delete-form">
        <h2>Deletar Conta</h2>
        <span>Para deletar sua conta, digite sua senha:</span>
        <input type="text" placeholder="Senha" formControlName="password">
        <button class="delete-btn" type="submit">Deletar Conta</button>
    </form>
</div>