<div class="trade-edit" >
    <form (ngSubmit)="submit()" [formGroup]="editTradeForm" class="edit-trade-form">
        <h2>Editar Anúncio</h2>
        <input type="text" placeholder="Título" formControlName="title">
        <textarea type="text" placeholder="Descrição" formControlName="description"></textarea>
        <div formArrayName="boardgames">
            <div
            *ngFor="let game of boardgames.controls; let i = index"
            [formGroupName]="i"
            class="boardgame-group"
            >
                <input
                    type="text"
                    formControlName="title"
                    placeholder="Buscar"
                    (input)="searchBoardgames($event, i)"
                >
                <div class="search-results" *ngIf="searchResult[i]?.length">
                    <div
                        class="result-item"
                        *ngFor="let result of searchResult[i]"
                        (click)="selectBoardgame(result, i)"
                    >
                        {{ result.title }}
                    </div>
                </div>
                <input
                    type="number"
                    formControlName="value"
                    placeholder="Valor"
                >
                <button type="button" (click)="removeBoardgame(i)">Remover</button>
            </div>
        </div>
        <button type="button" (click)="addBoardgame()">+ Adicionar jogo</button>
        <button class="send-btn" type="submit">Enviar</button>
    </form>
    <button (click)="goBack()">Voltar</button>
</div>