<div class="container" *ngIf="negotiation$ | async as negotiations">
    <ng-container *ngIf="negotiations.length > 0; else none">
        <div class="grid">
            <div class="card" *ngFor="let negotiation of negotiations">
                <div class="title">
                    <p>Negociação #{{ negotiation.id }}</p>
                </div>
                <div class="data">
                    <div class="detail">
                        <p>Dados gerais</p>
                        <span>Vendedor: {{ negotiation.seller }}</span>
                        <span>Status: {{ negotiation.status.label }}</span>
                        <button class="btn-yellow" *ngIf="!negotiation.payments[0]">
                            Gerar Pagamento
                        </button>
                        <a class="btn-yellow" *ngIf="negotiation.status.type === 'pending_payment' && negotiation.payments[0]" [href]="negotiation.payments.payment_url" target="_blank">
                            Realizar Pagamento
                        </a>
                        <span class="paid" *ngIf="negotiation.status.type === 'paid'">Aguardando Envio</span>
                        <div class="shipped" *ngIf="negotiation.status.type === 'shipped'">
                            <span>Transportadora: {{ negotiation.shipping_company }}</span>
                            <span>Código de rastreio: {{ negotiation.tracking_code }}</span>
                            <button class="btn-blue" (click)="received(negotiation.id)">Confirmar Recebimento</button>
                        </div>
                    </div>
                    <div class="address">
                        <p>Endereço de entrega</p>
                        <span>{{ negotiation.shipping_address.street }}, {{ negotiation.shipping_address.number }}</span>
                        <span>{{ negotiation.shipping_address.neighborhood }}</span>
                        <span>{{ negotiation.shipping_address.city_state }}</span>
                        <span>{{ negotiation.shipping_address.zipcode }}</span>
                    </div>
                    <div class="historic">
                        <p>Histórico da negociação</p>
                        <span>Criada em {{ negotiation.created_at }}</span>
                        <span *ngIf="negotiation.paid_at && !negotiation.canceled_at">Paga em {{ negotiation.paid_at }}</span>
                        <span *ngIf="negotiation.shipped_at && !negotiation.canceled_at">Enviada em {{ negotiation.shipped_at }}</span>
                        <span *ngIf="negotiation.delivered_at && !negotiation.canceled_at">Recebida em {{ negotiation.delivered_at }}</span>
                        <span *ngIf="negotiation.canceled_at">Cancelada em {{ negotiation.canceled_at }}</span>
                        <span *ngIf="negotiation.completed_at">Terminada em {{ negotiation.completed_at }}</span>
                    </div>
                </div>
                <div class="items">
                    <div>
                        <p>Jogos Comprados</p>
                    </div>
                    <div *ngFor="let item of negotiation.items">
                        <span>{{ item.title }} - R${{ item.price }}</span>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination 
            [currentPage]="pagination.currentPage"
            [lastPage]="pagination.lastPage"
            [total]="pagination.total"
            (pageChange)="loadPage($event)">
        </app-pagination>
    </ng-container>
</div>

<ng-template #none>
    <p class="none">Nenhuma compra encontrada.</p>
</ng-template>
