<div class="register-form">
    <h2>Registre-se</h2>
    <form 
        (ngSubmit)="submit()"
        [formGroup]="registerForm"
        class="form">
        <div class="formInput">
            <input type="text" placeholder="Nome" formControlName="name" (blur)="onFieldBlur('name')">
            @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
                <div class="error-zone">
                    @if (registerForm.get('email')?.hasError('required')) {
                        <span>Campo obrigatório.</span>
                    }
                </div>
            }
        </div>
        <input 
            type="date"
            placeholder="Data de Nascimento" 
            formControlName="birthdate">
        <input 
            type="text"
            placeholder="Telefone" 
            formControlName="phone"
            mask="(00) 00000-0000">
        <div class="formInput">
            <input type="email" placeholder="Email" formControlName="email" (blur)="onFieldBlur('email')">            
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                <div class="error-zone">
                    @if (registerForm.get('email')?.hasError('required')) {
                        <span>Campo obrigatório.</span>
                    } 
                    @else if (registerForm.get('email')?.hasError('email')) {
                        <span>O formato do e-mail digitado é inválido.</span>
                    }
                </div>
            }
        </div>
        <div class="formInput">
            <input 
                type="password"
                placeholder="Senha"
                formControlName="password"
                (blur)="onFieldBlur('password')">
                @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                    <div class="error-zone">
                        @if (registerForm.get('password')?.hasError('required')) {
                            <span>A senha é obrigatória.</span>
                        } 
                        @else if (registerForm.get('password')?.hasError('minlength')) {
                            <span>A senha deve ter no mínimo 6 caracteres.</span>
                        }
                    </div>
                }
        </div>
        <div class="formInput">
            <input 
                type="password"
                placeholder="Confirmar senha"
                formControlName="password_confirm"
                (blur)="onFieldBlur('password_confirm')">
             @if (registerForm.get('password_confirm')?.invalid && registerForm.get('password_confirm')?.touched) {
                    <div class="error-zone">
                        @if (registerForm.get('password_confirm')?.hasError('required')) {
                            <span>A confirmação da senha é obrigatória.</span>
                        } 
                        @else if (registerForm.get('password_confirm')?.hasError('minlength')) {
                            <span>A senha deve ter no mínimo 6 caracteres.</span>
                        }
                        @else if (registerForm.hasError('passwordMismatch')) {
                            <span>As senhas digitadas não são iguais.</span>
                        }
                    </div>
                }
        </div>
        <span>Endereço</span>
        <input 
            type="text"
            placeholder="CEP" 
            formControlName="cep"
            mask="00000-000">
        <input 
            type="text"
            placeholder="Rua" 
            formControlName="address_name">
        <input 
            type="text"
            placeholder="Número" 
            formControlName="address_number">
        <input 
            type="text"
            placeholder="Bairro" 
            formControlName="neighborhood">
        <div class="autocomplete" (blur)="isDropdownOpen = false" tabindex="0">
            <input 
            type="text"
            placeholder="Cidade" 
            formControlName="city"
            autocomplete="off"
            (focus)="isDropdownOpen = true">
            <ul *ngIf=" isDropdownOpen && (cities$ | async) as cities">
                <li
                    *ngFor="let city of cities"
                    (click)="selectCity(city)">
                    {{ city.name }}
                </li>

                <li *ngIf="cities.length === 0">
                    Nenhuma cidade encontrada
                </li>
            </ul>
        </div>
        <button class="btn-blue" type="submit">Enviar</button>

    </form>

</div>
