.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 80%;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    margin-right: 5px;
    gap: 10px;
    width: fit-content;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 5px;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.cover {
    display: flex;
    flex-wrap: wrap;
    
}

.cover img {
    width: 80px;
    object-fit: cover;
    aspect-ratio: 1;
    height: 80px;
    border-radius: 50%
}

.remove {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}

.data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 60%;
    height: auto;

}

.checkout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.payment {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.installments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.value {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

h2 {
    place-self: center;
}

.finish {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 5px;
}

.none {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
}

.begin {
    width: 40%;
}