<div class="content">
    <form 
        (ngSubmit)="submit()"
        [formGroup]="userForm"
        class="general-form">
        <h2>Editar Dados</h2>
        <input 
            type="text"
            placeholder="Nome" 
            formControlName="name">
        <input 
            type="date"
            placeholder="Data de Nascimento" 
            formControlName="birthdate">
        <input 
            type="text"
            placeholder="Telefone" 
            formControlName="phone">
        <input 
            type="email"
            placeholder="Email"
            formControlName="email">
        <button class="send-btn" type="submit">Enviar</button>
    </form>
</div>
