<div class="trade-create" >
    <form (ngSubmit)="submit()" [formGroup]="createTradeForm" class="create-trade-form">
        <h2>Criar Anúncio</h2>
        <input class="title" type="text" placeholder="Título" formControlName="title">
        <textarea class="description" type="text" placeholder="Descrição" formControlName="description"></textarea>
        <input class="shippingFee" type="number" placeholder="Frete" formControlName="shippingFee">
        <div class="boardgames-list" formArrayName="boardgames">
            <div
            *ngFor="let game of boardgames.controls; let i = index"
            [formGroupName]="i"
            class="boardgame-group"
            >
            <div class="search-wrapper">
                <input
                    type="text"
                    formControlName="title"
                    placeholder="Buscar"
                    (input)="searchBoardgames($event, i)"
                >
                <ul class="search-results" *ngIf="searchResult[i]?.length">
                    <li
                        class="result-item"
                        *ngFor="let result of searchResult[i]"
                        (mousedown)="selectBoardgame(result, i)"
                    >
                        {{ result.title }}
                    </li>
                </ul>
            </div>
                <input
                    type="number"
                    formControlName="value"
                    placeholder="Valor"
                >
                <button class="btn-red" type="button" (click)="removeBoardgame(i)">Remover</button>
            </div>
        </div>
        <button class="btn-green" type="button" (click)="addBoardgame()">+ Adicionar jogo</button>
        <div class="trade-images">
            <label>Fotos</label>
            <input class="btn-green" type="file" accept="image/*" multiple (change)="onImagesSelected($event)">
            <span>{{ selectedImages.length }} imagem(ns) selecionada(s)</span>
        </div>
        <div class="image-preview-container">
            <div class="preview-item" *ngFor="let preview of previewUrls; let i = index">
                <img [src]="preview" alt="Preview">
                <button class="btn-red" type="button" (click)="removeImage(i)">Remover</button>
            </div>
        </div>
        <button class="send-btn btn-blue" type="submit">Salvar</button>
    </form>
    <button class="btn-yellow" (click)="goBack()">Voltar</button>
</div>