<div class="trades-container">
    <div class="filters">
        <input type="text">
        <p>Filtros serão colocados aqui</p>
        <button type="submit">Filtrar</button>
    </div>

    <div class="trades" *ngIf = "$trades | async as trades">
        <div class="trade-card" *ngFor = "let trade of trades">
            <a class="trade-card-content" [routerLink]="['/trade', trade.id]">
                <img class="cover" src="assets/photoicon.png" alt="cover">
                <span>{{ trade.title }}</span>
                <span>Vendedor: {{ trade.user.name }}</span>
                <span>Jogos a venda:</span>
                <div *ngFor="let game of trade.boardgames">
                    <span>- {{ game.title }}</span>
                </div>
            </a>
        </div>
    </div>
</div>