<div class="trades-container">
    <div class="filters">
        <p>Filtros</p>
        <form class="options" (ngSubmit)="submit()" [formGroup]="filterForm">
            <label for="">Jogo:</label>
            <input type="text" formControlName="game_name" placeholder="Jogo">
            <label for="">Vendedor:</label>
            <input type="text" formControlName="seller" placeholder="Vendedor">
            <div class="value">
                Faixa de preços:
                <input type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" formControlName="min_value" placeholder="Valor mínimo">
                <input type="number" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" formControlName="max_value" placeholder="Valor máximo">
            </div>
            <button class="btn-blue" type="submit">Filtrar</button>
            <button class="btn-green" type="submit" (click)="clearFilters()">Limpar Filtros</button>
        </form>
    </div>
    <ng-container *ngIf = "$trades | async as trades">
        <div class="trades" *ngIf="trades.length > 0 ; else noResults">
            <div class="trade-card" *ngFor = "let trade of trades">
                <a class="trade-card-content" [routerLink]="['/trades', trade.id]">
                    <img class="cover" [src]="trade.primaryImage | tradeImagesUrl" alt="cover">
                    <span>{{ trade.title }}</span>
                    <span>Vendedor: {{ trade.user.name }}</span>
                    <span>Jogos a venda:</span>
                    <div *ngFor="let game of trade.boardgames">
                        <span>- {{ game.title }}</span>
                    </div>
                </a>
            </div>
        </div>
    </ng-container>
</div>
<app-pagination 
        [currentPage]="pagination.currentPage"
        [lastPage]="pagination.lastPage"
        [total]="pagination.total"
        (pageChange)="loadPage($event)">
</app-pagination>

<ng-template #noResults>
    <div class="none" *ngIf="hasActiveFilters(); else emptyTrades">
        <h3>Nenhum anúncio encontrado</h3>
        <p>Não existem anúncios que correspondam aos filtros informados.</p>
    </div>
</ng-template>
<ng-template #emptyTrades>
    <h3>Nenhum anúncio disponível</h3>
    <p>Ainda não existem anúncios cadastrados.</p>
</ng-template>