<div class="user-container">
  
  <div class="menu-container" *ngIf="user$ | async as user">
    <img class="user-avatar" src="assets/avatar.png" alt="avatar">
    <span>Bem vindo, {{ user.name }}</span>
      <nav class="menu-options">
          <a class="option-btn" routerLink="trades">Anúncios</a>
          <a class="option-btn" routerLink="collection">Coleção</a>
          <a class="option-btn" routerLink="edit">Editar Dados</a>
          
      </nav>
  </div>
  
  <div class="page-container">
      <router-outlet></router-outlet>
  </div>

</div>