<div class="user-container">
  
  <div class="menu-container" *ngIf="user$ | async as user">
    <img class="user-avatar" src="assets/avatar.png" alt="avatar">
    <span>Bem vindo, {{ user.name }}</span>
      <nav class="menu-options">
          <a class="option-btn" routerLink="collection" routerLinkActive="active">Coleção</a>
          <a class="option-btn" routerLink="trades" routerLinkActive="active">Anúncios</a>
          <a class="option-btn" routerLink="negotiation" routerLinkActive="active">Negociações</a>
          <a class="option-btn" routerLink="finances" routerLinkActive="active">Financeiro</a>
          <a class="option-btn" routerLink="edit" routerLinkActive="active">Editar Dados</a>
          
      </nav>
  </div>
  
  <div class="page-container">
      <router-outlet></router-outlet>
  </div>

</div>