.user-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: 20%;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.page-container {
    width: 45%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
}

.option-btn {
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
}

.option-btn:hover {
    border: 2px solid rgb(58, 58, 255);
    border-radius: 5px;
}

.option-btn.active {
    background-color: rgb(58, 58, 255);
    border-radius: 5px;
    color: white;
}

.user-avatar  {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #ddd;
}