.content {
    width: auto;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.adress-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.autocomplete {
  position: relative;
}

.send-btn {
    border: none;
    background-color: rgb(58, 58, 255);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.send-btn:hover {
    background-color: rgb(39, 39, 255);
}