<div>
  <label for="">Login</label>
  <input type="text" id="login">
</div>
<div>
  <label for="">Senha</label>
  <input type="text" id="senha">
</div>

<button type="submit" id="enviar" (click)="login()">
  Teste post
</button>

<button type="submit" id="enviar" (click)="logout()">
  Teste post2
</button>

<button type="submit" id="enviar" (click)="updateUser()">
  Teste put
</button>

<button type="submit" id="enviar" (click)="deleteTrade()">
  Teste delete
</button>

<div>
  <a routerLink="/user">User detail</a>
</div>