.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 20%;
}

.cover {
    width: 50%;
    height: auto;
}

.goBack {
    margin-top: 10px;
    place-self: center;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    width: 50%;
}

.detail-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trade-detail {
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.trade-description {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    width: 100%;
}

.photos {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    width: 100%;
    justify-content: center;
}

.photos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.game-section {
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 5px;
}

.trade-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    width: 30%;
    height: 80%;
    gap: 10px;
    border: 2px solid transparent;
    text-decoration: none;
    color: black;
}

.trade-games:hover{
    border: 2px solid rgb(58, 58, 255);
}

.trade-games-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.game-cover {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.goBack {
    width: fit-content;
    padding: 5px;
    background-color: #C9A14D;
    border-radius: 5px;
}

.goBack-btn {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.goBack-btn:hover{
    filter: brightness(0.85);
}

.image-modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.85);

    z-index: 1000;
}

.modal-image {
    max-width: 90vw;
    max-height: 90vh;

    object-fit: contain;

    border-radius: 8px;
}

