.detail-container {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 20%;
}

.cover {
    width: 50%;
    height: auto;
}

.goBack {
    margin-top: 10px;
    place-self: center;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    width: 80%;
}

.trade-detail {
    display:flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.trade-description {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.trade-games {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.goBack {
    width: fit-content;
    padding: 5px;
    background-color: #C9A14D;
    border-radius: 8px;
}

.goBack-btn {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.goBack-btn:hover{
    filter: brightness(0.85);
}