.auth-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.auth {
    color: black;
    font-weight: bold;
    border: none;
    height: fit-content;
}

.text {
    color: #C9A14D;
    text-decoration: none;
    padding: 5px;
    border: solid 2px black;
    width: fit-content;
}

.text:hover {
    border: solid 2px #C9A14D;
    border-radius: 5px;
}

.text.active {
    background-color: #C9A14D;
    color: black;
    border-radius: 5px;
}

