<div class="auth-content">
  <ng-container *ngIf="isLogged$ | async; else loginTemplate">
    <div class="links">
      <a class="text" routerLink="user" routerLinkActive="active">
        Olá, {{ (user$ | async)?.name }}
      </a>
      <a class="text" routerLink="negotiation/cart" routerLinkActive="active">
        Meu carrinho
      </a>
    </div>
    <button class="btn-yellow auth" (click)="logout()">
      Sair
    </button>
  </ng-container>

  
  <ng-template #loginTemplate>
    <div class="links">
      <a class="btn-yellow auth" routerLink="register">Registre-se</a>
      <a class="btn-yellow auth" (click)="openLogin()">Entrar</a>
    </div>
  </ng-template>
  
</div>

<app-login-modal
    *ngIf="showLoginModal"
    (close)="closeLogin()"
></app-login-modal>
