.auth-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    background-color: #C9A14D;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.button:hover{
    background-color: #c9a24db7;
}

#me {
    color: #C9A14D;
    text-decoration: none;
    padding: 10px;
    border: solid 2px black;
}

.material-symbols-outlined {
    padding: 3px;
  color: #C9A14D;
  border: 2px transparent black;
}

.material-symbols-outlined:hover{
    border: 2px solid #c9a14d;
    border-radius: 5px;
}
