html, body {
  height: 100%;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(224, 224, 224);
}

input, textarea, select {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 5px 0;
  font-family:'Courier New', Courier, monospace;
}

button {
  font-family:'Courier New', Courier, monospace;
}

.btn-blue {
    border: none;
    color: white;
    background-color: rgb(00, 150, 255);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.btn-blue:hover {
  background-color: rgb(0 ,0 , 255);
}

.btn-green {
    border: none;
    color: white;
    background-color: rgb(37, 211, 102);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.btn-green:hover{
  background-color: rgb(7,94,84);
}

.btn-red {
    border: none;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.btn-red:hover{
  background-color: rgb(139, 0, 0);
}

.btn-yellow {
    border: none;
    color: white;
    background-color: #C9A14D;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.btn-yellow:hover{
    background-color: #c9a24db7;
}

.none {
    place-self: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid #ff4d4d;
  background-color: #fff2f2;
}

.error-zone{
  color: red;
}

