.content {
    width: auto;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 50%;
    place-self: center;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.autocomplete {
  position: relative;
}

.send-btn {
    border: none;
    background-color: rgb(58, 58, 255);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.send-btn:hover {
    background-color: rgb(39, 39, 255);
}

.autocomplete ul {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.autocomplete li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete li:hover {
  background: #eee;
}

.autocomplete input {
  width: 97%;
}