<header>
    <div class="header-content">
        <div id="logo">
            <a href="/"><img [ngSrc]="'images/logo.png'" width="80" height="80" priority alt="boardnet"></a>
        </div>
        <app-searchbar></app-searchbar>
        <app-auth-section></app-auth-section>
    </div>
    <div class="nav">
        <a class="navbar" routerLink="boardgames" routerLinkActive="active">Jogos</a>
        <a class="navbar" routerLink="trades" routerLinkActive="active">Anúncios</a>
        <a class="navbar" routerLink="user" routerLinkActive="active" *ngIf="isLogged$ | async">Minha Conta</a>
    </div>
</header>
