header {
    background-color: #000;
    position: sticky;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1000;
    height: auto;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


