.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    width: fit-content;
    align-items: center;
}

.container button {
    place-self: center;
}

.container img {
    width: 20%;
    height: auto;
    place-self: center;
}